name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: ./Event-Management-main/11-Backend
          file: ./Helm-Chart-Template-master/Helm-Chart-Template-master/Dockerfile.backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/ecommerce-backend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v4
        with:
          context: ./Event-Management-main/11-frontend
          file: ./Helm-Chart-Template-master/Helm-Chart-Template-master/Dockerfile.frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/ecommerce-frontend:latest

      - name: Set up Helm
        uses: azure/setup-helm@v3

      - name: Helm lint
        run: |
          helm lint ./Helm-Chart-Template-master/Helm-Chart-Template-master -f ./Helm-Chart-Template-master/Helm-Chart-Template-master/values.yaml
